/* Estilos generales */
body {
    margin: 0;
    padding: 0;
}

nav {
    background: linear-gradient(to right, #70CAD2, #4286f4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Estilos para el logo */
.logo {
    max-width: 200px;
    /* Ajusta el valor de max-width para hacer la imagen más grande */
}

/* Estilos para el menú */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4286f4;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #70CAD2;
    /* Color de resaltado al pasar el cursor */
}

/* Estilos para el botón de Cerrar sesión */
.logout-button {
    background-color: #f4416f;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        flex-direction: column;
    }

    .menu a {
        margin: 5px 0;
    }
}
