body {
    background-color: #0f111a;
    color: #ffffff;
    font-family: Consolas, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #1e2132;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-control {
    background-color: #242736;
    border: 1px solid #454d69;
    color: #ffffff;
    padding: 10px;
}

label {
    color: #8d8f9c;
}

.btn-success {
    background-color: #61afef;
    border: 1px solid #61afef;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #1b4b91;
    border: 1px solid #1b4b91;
}

.text-muted {
    color: #8d8f9c;
}

.vh-100 {
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    background-size: cover;
}

.gradient-custom {
    background: #20232a;
    background: -webkit-linear-gradient(to right, #20232a, #3a3f4a);
    background: linear-gradient(to right, #20232a, #3a3f4a);
}
